<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>EXPERTISE DATA</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="openDialog()">ADD PROJECT</button>
  

  
</mat-toolbar>
<div class="container">

  <div style="margin-top: 10px;">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
    
        <!-- ID Column -->
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Name </th>
          <td mat-cell *matCellDef="let row"> {{row.Name}} </td>
        </ng-container>
    
        <!-- Progress Column -->
        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
          <td mat-cell *matCellDef="let row"> {{row.Description}}% </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="Dure">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Dure </th>
          <td mat-cell *matCellDef="let row"> {{row.Dure}} </td>
        </ng-container>
    
        <!-- Fruit Column -->
        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let row"> {{row.Status}} </td>
        </ng-container>

        <ng-container matColumnDef="client">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> client </th>
          <td mat-cell *matCellDef="let row"> {{row.client}} </td>
        </ng-container>

        <ng-container matColumnDef="admin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> admin </th>
          <td mat-cell *matCellDef="let row"> {{row.admin}} </td>
        </ng-container>
        <ng-container matColumnDef="Employe">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Employe </th>
          <td mat-cell *matCellDef="let row"> {{row.Employe}} </td>
        </ng-container>
        <ng-container matColumnDef="chef">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> chef </th>
          <td mat-cell *matCellDef="let row"> {{row.chef}} </td>
        </ng-container>

        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let row"> 
            <button mat-icon-button (click)="editProject(row)" color="primary">
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="deleteproject(row.id)"  mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
    

  </div>
</div>